body {
  height: 100%;
}
html {
  height: 100%;
  color: white;
  background-color: #1e232e;
}
::-webkit-scrollbar-thumb {
  background: rgba(224, 231, 255);
  border-radius: 10px;
  box-shadow: 100%;
}
::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}
.blur {
  backdrop-filter: blur(5px);
}
