body {
  height: 100%;
}
html {
  height: 100%;
  background-color: rgba(224, 231, 255);
}
::-webkit-scrollbar-thumb {
  background: rgba(224, 231, 255);
  border-radius: 10px;
  box-shadow: 100%;
}
::-webkit-scrollbar {
  width: 5px;
}
